<!doctype html>
<html lang="en">
  <head>
    {% include 'urlshortener/head.html' %}
    <title>URL Shortener | myshort.codes</title>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'urlshortener:index' %}">myshort.codes</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    {% include 'urlshortener/scripts.html' %}
  </body>
</html>